* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(243, 249, 252);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  width: 100vw;
  max-width: 550px;
  padding: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  font-size: 50px;
  font-family: "Satisfy", cursive;
  font-weight: 600;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
